.close-btn {
    color     : var(--white);
    font-size : 3rem;
    position  : absolute;
    right     : 1rem;
    transition: var(--transition);
    top       : 0;
    z-index   : 5;
}

.close-btn:hover {
    color: var(--primary-color);
}

.btn {
    border-radius: 4px;
    border       : 2px solid transparent;
    display      : inline-block;
    font-family  : var(--typography-03);
    font-size    : 1.125rem;
    font-weight  : 700;
    padding      : 12px 30px;
    transition   : var(--transition);
}

.btn-white {
    background-color: var(--white);
    color           : var(--black);
}

.btn-white:hover {
    background-color: transparent;
    border-color    : var(--white);
    color           : var(--white);
}

.btn-border-white {
    border-color: var(--white);
}

.btn-border-white:hover {
    background-color: var(--white);
    color           : var(--black);
}