@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;

.button__icon {
    background: darkblue;

    &-visually {
        @include font-primary();
        clip     : rect(0, 0, 0, 0);
        font-size: get-font-size(14);
        height   : 1px;
        overflow : hidden;
        padding  : 0;
        position : absolute;
        width    : 1px;
    }
}