@use "../base/mixins"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;

.carousel {
    width     : 100%;

    &__arrows {
        @include flex(center, center);
        width: 100%;
    }

    .arrow {
        @include apply-color("pure-white");
        background: transparent;
        border    : none;
        cursor    : pointer;
        font-size : get-font-size(30);
        transition: .3s ease-in-out;

        @include hover {
            opacity: .6;
        }

        &:nth-child(1) {
            &::before {
                content: "\219E";
            }
        }

        &:nth-child(2) {
            &::after {
                content: "\21A0";
            }
        }
    }
}