@use "../base/mixins"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;

.carousel {
    margin-top: 4rem;
    overflow  : hidden;
    position  : relative;
    width     : 100%;

    
}