@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;

.modal {
    height    : 100%;
    opacity   : 0;
    position  : fixed;
    transform : translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    visibility: hidden;
    width     : 100%;
    z-index   : 999999;

    &--navbar {
        @include apply-bg-color("black");
    }
}

.js-open-modal {
    opacity   : 1;
    visibility: visible;
    transform : translateY(0);
}

.modal__close-button {
    @include flex(center, center, 0);
    background    : transparent;
    border        : none;
    cursor        : pointer;
    font-size     : get-font-size(16);
    flex-direction: column;
    height        : 44px;
    opacity       : 0.6;
    position      : absolute;
    left          : 30px;
    transition    : .3s ease-in-out;
    top           : 30px;
    width         : 44px;
    z-index       : 9999999;

    @include hover {
        opacity: 1;
    }

    &::before,
    &::after {
        @include apply-bg-color("light-gray");
        content : "";
        height  : 32px;
        position: absolute;
        width   : 2px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}