@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;

.modal {
    background: rgba($color: #000000, $alpha: 1);
    height    : 100%;
    opacity   : 0;
    overflow  : auto;
    position  : fixed;
    transform : translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    visibility: hidden;
    width     : 100%;
    z-index   : 9999;
}

.modal-open {
    opacity   : 1;
    visibility: visible;
    transform : translateY(0);
}

.modal__close-button {
    @include flex(center, center, 0);
    @include apply-color("pure-white");
    @include font-secondary();
    flex-direction: column;
    background    : transparent;
    border        : none;
    cursor        : pointer;
    font-size     : get-font-size(12);
    right         : 1rem;
    position      : absolute;
    transition    : .3s ease-in-out;
    text-transform: uppercase;
    top           : 1rem;
    z-index       : 9999999;

    &::before {
        content  : "\2927";
        font-size: get-font-size(28);
    }

    @include hover {
        opacity: .7;
    }
}