@use "colors"as *;

html {
   scroll-behavior: smooth;
}

html,
body,
main {
   height: 100%;
   width : 100%
}

body {
   @include apply-bg-color("black");
   @include apply-color("pure-white");
}

a {
   color          : inherit;
   text-decoration: none;
}