/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

textarea {
  resize: none;
}

html {
  scroll-behavior: smooth;
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Game of Thrones";
  src: url("../fonts/game-of-thrones/GameOfThrones.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Constantia";
  src: url("../fonts/constantia/constan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.menu__burger {
  color: #ffffff;
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-height: 52px;
  min-width: 38px;
}
.menu__burger:hover .menu__burger-bars::after,
.menu__burger:hover .menu__burger-bars::before {
  width: 100%;
}
.menu__burger-visually {
  font-family: "Game of Thrones", serif;
  clip: rect(0, 0, 0, 0);
  font-size: 0.875rem;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.menu__burger-bars {
  background-color: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.25s linear;
  width: 24px;
}
.menu__burger-bars::after, .menu__burger-bars::before {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all 0.25s linear;
  width: 100%;
}
.menu__burger-bars::after {
  transform: translate(0, -8px);
}
.menu__burger-bars::before {
  transform: translate(0, 8px);
}

.js-open-menu .menu__burger-bars {
  background: transparent;
}
.js-open-menu .menu__burger-bars::before {
  transform: rotate(45deg);
}
.js-open-menu .menu__burger-bars::after {
  transform: rotate(-45deg);
}

.modal {
  height: 100%;
  opacity: 0;
  position: fixed;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 999999;
}
.modal--navbar {
  background-color: #000000;
}

.js-open-modal {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.container {
  margin: 0 auto;
  padding: 0 1%;
  width: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .container {
    max-width: 1200px;
  }
}

@font-face {
  font-family: "Game of Thrones";
  src: url("../fonts/game-of-thrones/GameOfThrones.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Constantia";
  src: url("../fonts/constantia/constan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.header__container {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.header__brand {
  max-width: 140px;
}
.header__brand img {
  object-fit: cover;
  width: 100%;
}

.navbar__menu {
  height: 100%;
  width: 100%;
}
.navbar__menu-list {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .navbar__menu-list {
    flex-direction: column;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .navbar__menu-list {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .navbar__menu-list {
    flex-direction: column;
  }
}
.navbar__menu-item {
  align-items: center;
  display: flex;
  gap: 0;
  justify-content: center;
  flex-basis: 20%;
  filter: grayscale(100%);
  height: 100%;
  position: relative;
  text-align: center;
}
.navbar__menu-item a {
  font-family: "Game of Thrones", serif;
  display: inline-block;
  font-size: 0.875rem;
}
.navbar__menu-item:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/link-bg-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .navbar__menu-item:nth-child(1) {
    background-position: 0% 26%;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .navbar__menu-item:nth-child(1) {
    background-position: 0% 26%;
  }
}
@media screen and (max-width: 480px) {
  .navbar__menu-item:nth-child(1) {
    background-position: 0% 26%;
  }
}
.navbar__menu-item:nth-child(2) {
  background: url("../images/link-bg-02.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .navbar__menu-item:nth-child(2) {
    background-position: 0% 16%;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .navbar__menu-item:nth-child(2) {
    background-position: 0% 16%;
  }
}
@media screen and (max-width: 480px) {
  .navbar__menu-item:nth-child(2) {
    background-position: 0% 16%;
  }
}
.navbar__menu-item:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/link-bg-03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar__menu-item:nth-child(4) {
  background: url("../images/link-bg-04.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.navbar__menu-item:nth-child(5) {
  background: url("../images/link-bg-05.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .navbar__menu-item:nth-child(5) {
    background-position: 0% 24%;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .navbar__menu-item:nth-child(5) {
    background-position: 0% 24%;
  }
}
@media screen and (max-width: 480px) {
  .navbar__menu-item:nth-child(5) {
    background-position: 0% 24%;
  }
}
.navbar__menu-item:hover {
  filter: grayscale(0);
}

.navbar__close-button {
  color: #ffffff;
  font-family: "Constantia", serif;
  align-items: center;
  display: flex;
  gap: 6px;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  flex-direction: column;
  position: absolute;
  left: 30px;
  text-transform: uppercase;
  top: 30px;
  z-index: 9999999;
}
.navbar__close-button i {
  font-size: 2rem;
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  height: 120%;
  position: relative;
  text-align: center;
  width: 100%;
}
.home-container {
  bottom: 220px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1%;
  width: 100%;
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .home-container {
    bottom: 280px;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .home-container {
    bottom: 160px;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  .home-container {
    bottom: 80px;
  }
}
.home-title {
  font-family: "Game of Thrones", serif;
  font-size: 2.5rem;
  line-height: 60px;
  margin-bottom: 1rem;
}
@media screen and (max-width: calc(768px - 1px)) {
  .home-title {
    font-size: 1.375rem;
    line-height: 38px;
  }
}
.home-description {
  font-family: "Constantia", serif;
  font-size: 1.125rem;
}

/*# sourceMappingURL=main.css.map */
