@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

textarea {
  resize: none;
}

@font-face {
  font-family: "Game of Thrones";
  src: url("../fonts/game-of-thrones/GameOfThrones.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Constantia";
  src: url("../fonts/constantia/constan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Constantia", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.carousel {
  margin-top: 4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.button__icon {
  background: darkblue;
}
.button__icon-visually {
  font-family: "Game of Thrones", serif;
  clip: rect(0, 0, 0, 0);
  font-size: 0.875rem;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.menu__burger {
  color: #ffffff;
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-height: 52px;
  min-width: 44px;
}
.menu__burger:hover .menu__burger-bars::after,
.menu__burger:hover .menu__burger-bars::before {
  width: 100%;
}
.menu__burger-bars {
  background-color: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.25s linear;
  width: 24px;
}
.menu__burger-bars::after, .menu__burger-bars::before {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all 0.25s linear;
  width: 100%;
}
.menu__burger-bars::after {
  transform: translate(0, -8px);
}
.menu__burger-bars::before {
  transform: translate(0, 8px);
}

.js-open-menu .menu__burger-bars {
  background: transparent;
}
.js-open-menu .menu__burger-bars::before {
  transform: rotate(45deg);
}
.js-open-menu .menu__burger-bars::after {
  transform: rotate(-45deg);
}

.modal {
  height: 100%;
  opacity: 0;
  position: fixed;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 999999;
}
.modal--navbar {
  background-color: #000000;
}

.js-open-modal {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.modal__close-button {
  align-items: center;
  display: flex;
  gap: 0;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  flex-direction: column;
  height: 44px;
  position: absolute;
  left: 30px;
  transition: 0.3s ease-in-out;
  top: 30px;
  width: 44px;
  z-index: 9999999;
}
.modal__close-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: calc(768px - 1px)) {
  .modal__close-button {
    left: 20px;
    top: 20px;
  }
}
.modal__close-button::before, .modal__close-button::after {
  background-color: #30bbe9;
  content: "";
  height: 32px;
  position: absolute;
  width: 2px;
}
.modal__close-button::before {
  transform: rotate(45deg);
}
.modal__close-button::after {
  transform: rotate(-45deg);
}

.container {
  margin: 0 auto;
  padding: 0 2%;
  width: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .container {
    max-width: 1024px;
  }
}

.footer {
  align-items: center;
  display: flex;
  gap: 0;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("../images/footer-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .footer {
    padding: 40px 0;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .footer {
    padding: 40px 0;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 40px 0;
  }
}
.footer__content {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.footer__brand {
  margin-bottom: 4rem;
}
.footer__brand img {
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .footer__brand {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .footer__brand {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__brand {
    margin-bottom: 2rem;
  }
}
.footer__title {
  font-family: "Game of Thrones", serif;
  font-size: 1.75rem;
  line-height: 42px;
  letter-spacing: 2px;
  max-width: 44ch;
  margin: 0 auto 3rem;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .footer__title {
    font-size: 1.25rem;
    line-height: 36px;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .footer__title {
    font-size: 1.25rem;
    line-height: 36px;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__title {
    font-size: 1.25rem;
    line-height: 36px;
    margin-bottom: 2rem;
  }
}
.footer__subtitle {
  font-family: "Game of Thrones", serif;
  margin: 2rem 0;
}
.footer__text {
  font-size: 1.125rem;
  margin-bottom: 8px;
}
.footer__max {
  margin-top: 3rem;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .footer__max {
    margin-top: 2rem;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .footer__max {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__max {
    margin-top: 2rem;
  }
}

@font-face {
  font-family: "Game of Thrones";
  src: url("../fonts/game-of-thrones/GameOfThrones.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Constantia";
  src: url("../fonts/constantia/constan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.header__container {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.header__brand {
  max-width: 140px;
}
.header__brand img {
  object-fit: cover;
  width: 100%;
}

.navbar__menu {
  height: 100%;
  width: 100%;
}
.navbar__menu-list {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .navbar__menu-list {
    flex-direction: column;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .navbar__menu-list {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .navbar__menu-list {
    flex-direction: column;
  }
}
.navbar__menu-item {
  align-items: center;
  display: flex;
  gap: 0;
  justify-content: center;
  flex-basis: 20%;
  filter: grayscale(100%);
  height: 100%;
  position: relative;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.navbar__menu-item a {
  font-family: "Game of Thrones", serif;
  display: inline-block;
  font-size: 0.875rem;
}
.navbar__menu-item:nth-child(1) {
  background: url("../images/link-bg-01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .navbar__menu-item:nth-child(1) {
    background-position: 0% 28%;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .navbar__menu-item:nth-child(1) {
    background-position: 0% 28%;
  }
}
@media screen and (max-width: 480px) {
  .navbar__menu-item:nth-child(1) {
    background-position: 0% 28%;
  }
}
.navbar__menu-item:nth-child(2) {
  background: url("../images/link-bg-02.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .navbar__menu-item:nth-child(2) {
    background-position: 0% 40%;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .navbar__menu-item:nth-child(2) {
    background-position: 0% 40%;
  }
}
@media screen and (max-width: 480px) {
  .navbar__menu-item:nth-child(2) {
    background-position: 0% 40%;
  }
}
.navbar__menu-item:nth-child(3) {
  background: url("../images/link-bg-03.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .navbar__menu-item:nth-child(3) {
    background-position: 0% 20%;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .navbar__menu-item:nth-child(3) {
    background-position: 0% 20%;
  }
}
@media screen and (max-width: 480px) {
  .navbar__menu-item:nth-child(3) {
    background-position: 0% 20%;
  }
}
.navbar__menu-item:nth-child(4) {
  background: url("../images/link-bg-04.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.navbar__menu-item:nth-child(5) {
  background: url("../images/link-bg-05.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .navbar__menu-item:nth-child(5) {
    background-position: 0% 24%;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .navbar__menu-item:nth-child(5) {
    background-position: 0% 24%;
  }
}
@media screen and (max-width: 480px) {
  .navbar__menu-item:nth-child(5) {
    background-position: 0% 24%;
  }
}
.navbar__menu-item:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 680px) and (orientation: landscape) {
  .navbar__menu-item {
    background: black !important;
    filter: grayscale(0);
  }
}

.section {
  padding: 100px 2%;
}
.section__title {
  font-family: "Game of Thrones", serif;
  color: #000000;
  font-size: 3rem;
  line-height: 1.8;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .section__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .section__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.section__description {
  font-family: "Constantia", serif;
  font-size: 1.25rem;
  line-height: 28px;
  margin: 20px auto 30px;
  max-width: 1024px;
  text-align: center;
  width: 100%;
}

#about {
  background: url("../images/about-bg-01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/home-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  height: 120vh;
  position: relative;
  text-align: center;
  width: 100%;
}
.home-container {
  bottom: 220px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .home-container {
    bottom: 280px;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .home-container {
    bottom: 160px;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  .home-container {
    bottom: 80px;
  }
}
.home-title {
  font-family: "Game of Thrones", serif;
  font-size: 2.5rem;
  line-height: 72px;
  margin-bottom: 20px;
}
@media screen and (max-width: calc(768px - 1px)) {
  .home-title {
    font-size: 1.375rem;
    line-height: 38px;
  }
}
.home-description {
  font-family: "Constantia", serif;
  font-size: 1.25rem;
  line-height: 28px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  min-height: 720px;
}
@media screen and (max-width: calc(768px - 1px)) {
  .about {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .about {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .about {
    margin-top: 40px;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .about {
    margin-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  .about {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .about {
    min-height: 660px;
  }
}
.about__column {
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem 24px;
}
.about__column:nth-child(1) {
  align-self: self-start;
}
.about__column:nth-child(2) {
  align-self: self-end;
}
.about__column p {
  color: #000000;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}
.about__column p + p {
  margin-top: 24px;
}

.plot {
  background-color: #ffffff;
  color: #000000;
}
.plot__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
}
@media screen and (min-width: 1920px) {
  .plot__row {
    gap: 3rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .plot__row {
    gap: 3rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .plot__row {
    gap: 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .plot__row {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
  .plot__row:nth-child(2n+1) .plot__image {
    order: 1;
  }
  .plot__row:nth-child(2n+1) .plot__description {
    order: 2;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .plot__row {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
  .plot__row:nth-child(2n+1) .plot__image {
    order: 1;
  }
  .plot__row:nth-child(2n+1) .plot__description {
    order: 2;
  }
}
@media screen and (max-width: 480px) {
  .plot__row {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
  .plot__row:nth-child(2n+1) .plot__image {
    order: 1;
  }
  .plot__row:nth-child(2n+1) .plot__description {
    order: 2;
  }
}
.plot__image {
  align-self: self-start;
  justify-self: self-start;
  height: 100%;
  width: 100%;
}
.plot__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.plot__description {
  align-self: self-start;
  padding: 2rem 0;
}
@media screen and (min-width: 1920px) {
  .plot__description {
    padding: 2rem 2rem 2rem 2rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .plot__description {
    padding: 2rem 2rem 2rem 2rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .plot__description {
    padding: 2rem 2rem 2rem 2rem;
  }
}
.plot__description h3 {
  font-family: "Game of Thrones", serif;
  font-size: 1.5rem;
  line-height: 40px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .plot__description h3 {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .plot__description h3 {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 480px) {
  .plot__description h3 {
    font-size: 1.375rem;
  }
}
.plot__description h3 span {
  font-size: 2rem;
}
.plot__description strong {
  font-family: "Constantia", serif;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 1rem;
}
.plot__description p {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.characters {
  width: 100%;
}
.characters .section__title {
  color: #ffffff;
}
.characters .container {
  margin-top: 3rem;
}
.characters__wrapper {
  position: relative;
  width: 100%;
}
.characters__list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .characters__list {
    grid-auto-columns: 50%;
  }
}
@media screen and (max-width: 680px) and (orientation: landscape) {
  .characters__list {
    grid-template-columns: 50%;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .characters__list {
    grid-auto-columns: 100%;
  }
}
@media screen and (max-width: 480px) {
  .characters__list {
    grid-auto-columns: 100%;
  }
}
@media screen and (min-width: 1920px) {
  .characters__list {
    height: 500px;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .characters__list {
    height: 500px;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .characters__list {
    height: 500px;
  }
}
.characters__list::-webkit-scrollbar {
  display: none;
}
.characters__buttons {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}
.characters__button {
  color: #ffffff;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.875rem;
  transition: 0.3s ease-in-out;
}
.characters__button:hover {
  opacity: 0.6;
}
.characters__button:nth-child(1)::before {
  content: "↞";
}
.characters__button:nth-child(2)::after {
  content: "↠";
}

.characater__card {
  font-family: "Constantia", serif;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  filter: grayscale(100%);
  height: 100%;
  opacity: 0.1;
  overflow: hidden;
  scroll-snap-align: start;
  transition: 0.5s ease-in-out;
}
.characater__card:hover {
  filter: none;
  opacity: 1;
}
@media screen and (min-width: 1920px) {
  .characater__card {
    padding: 1rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .characater__card {
    padding: 1rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .characater__card {
    padding: 1rem;
  }
}

.character__image {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.character__image img {
  display: block;
  height: 100%;
  object-fit: cover;
  transition: 1s ease-in-out;
  width: 100%;
}

.character__active {
  border: 1px solid #19191d;
  filter: none;
  opacity: 1;
}

.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.dragging .characater__card {
  cursor: grab !important;
  user-select: none;
}

.no-transition {
  scroll-behavior: auto;
}

.houses .section__title {
  color: #ffffff;
}

.histories .section__title {
  color: #ffffff;
}

.map .section__title {
  color: #ffffff;
}
.map__content {
  background: orange;
  display: grid;
  grid-template-columns: 3fr 1fr;
  position: relative;
}
.map__navegation {
  background: darkblue;
  bottom: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 999;
}

/*# sourceMappingURL=main.css.map */
