#characters {
    background           : linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../../images/bg-02.jpg");
    background-repeat    : no-repeat;
    background-position  : center;
    background-size      : cover;
    background-attachment: fixed;
}

.characters-container {
    color                : var(--white);
    grid-template-columns: 1fr;
    gap                  : 2rem;
    width                : 100%;
}

@media screen and (min-width: 992px) {
    .characters-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .characters-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.character {
    display       : flex;
    flex-direction: column;
    height        : auto;
}

@media screen and (min-width: 992px) {
    .character {
        height: 1320px;
    }
}

.character-img {
    flex-wrap    : 1;
    flex-grow    : 0;
    height       : 100%;
    margin-bottom: 1rem;
}

.character-img img {
    height    : 100%;
    object-fit: cover;
}

.character-quote {
    font-family     : var(--typography-02);
    min-height      : 150px;
    padding         : 1rem 2rem;
    text-align      : center;
    text-transform  : uppercase;
    background-color: darkblue;
}

.character-quote h2 {
    font-size     : 0.875rem;
    letter-spacing: 1.2px;
}

.character-quote span {
    font-size: 0.75rem;
}