.header {
    position: absolute;
    width   : 100%;
    z-index : 2;
}

.nav {
    align-items    : center;
    justify-content: space-between;
    padding        : 1rem 0px;
}

.nav-brand {
    width: 200px;
}

.nav-brand img {
    height    : 100%;
    object-fit: cover;
}

.nav-bar {
    align-items    : center;
    gap            : 2rem;
    justify-content: center;
}

.nav-bar li a {
    color      : var(--white);
    font-family: var(--typography-02);
    font-size  : 1.5rem;
    transition : var(--transition);
}

.nav-bar li a:hover {
    color: var(--primary-color);
}

/* desktop navbar */
#desktopNavbar {
    display: none;
}

@media screen and (min-width:992px) {
    #desktopNavbar {
        display: flex;
    }
}

/* mobile navbar */
#mobileNavbar {
    display: flex;
}

@media screen and (min-width: 992px) {
    #mobileNavbar {
        display: none;
    }
}

.menu-mobile {
    align-items    : center;
    cursor         : pointer;
    height         : 40px;
    justify-content: center;
    width          : 40px;
}

.menu-line {
    background-color: var(--white);
    border-radius   : 8px;
    display         : inline-block;
    height          : 4px;
    position        : relative;
    width           : 100%;
}

.menu-line::after,
.menu-line::before {
    background-color: var(--white);
    border-radius   : inherit;
    content         : "";
    height          : 4px;
    position        : absolute;
    right           : 0;
    width           : 80%;
}

.menu-line::after {
    top: 10px;
}

.menu-line::before {
    top: -10px;
}

.menu-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    height          : 0;
    overflow        : auto;
}

.overlay-list {
    margin-bottom: 1rem;
    position     : relative;
    top          : 16%;
    text-align   : center;
    width        : 100%;
    z-index      : 5;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .overlay-list {
        top: 25%;
    }
}

.overlay-list li {
    padding: 0.625rem;
    width  : 100%;
}

.overlay-list li a {
    color      : var(--white);
    display    : inline-block;
    font-family: var(--typography-02);
    font-size  : 2rem;
    transition : var(--transition);
    width      : 100%;
}

.overlay-list li a:hover {
    color: var(--primary-color);
}

.open-menu-mobile {
    height: 100%;
}

.close-menu-mobile {
    height: 0;
}