#news {
    background           : var(--black);
    background-repeat    : no-repeat;
    background-position  : center;
    background-size      : cover;
    background-attachment: fixed;
    padding-bottom       : 2.5rem;
}

.news-container {
    grid-template-columns: 1fr;
    gap                  : 3rem;
    margin               : 2.5rem 0;
}

@media screen and (min-width: 992px) {
    .news-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .news-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.news-item {
    border     : 2px solid transparent;
    color      : var(--white);
    font-family: var(--typography-02);
    line-height: normal;
    transition : var(--transition);
    text-align : center;
}

.news-item:hover {
    border-color: var(--white);
    cursor      : pointer;
    transform   : scale(1.1);
}

.news-item img {
    margin-bottom: 1rem;
    width        : 100%;
}