@use "../base/mixins"as *;
@use "../global/responsive"as *;
@import "../base/typography";

.header {
    padding-top   : 1rem;
    padding-bottom: 1rem;
    position      : absolute;
    width         : 100%;
    z-index       : 9999;

    &__container {
        @include flex(center, space-between);
    }

    &__brand {
        max-width: 140px;
    }
}