@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../base/colors"as *;
@use "../global/responsive"as *;

.navbar__menu {
    @include flex(center, center);
    @include bg-gradient("../images/backgrounds/navbar-bg.webp", .8);
    height    : 100%;
    overflow-y: auto;
    width     : 100%;
}

.navbar__list {
    @include flex(start, center);
    flex-direction: column;
    gap           : 1rem;
    padding       : 1rem;
}

.navbar__item {
    a {
        @include marcellus-font();
        display       : inline-block;
        font-size     : get-font-size(50);
        font-weight   : 700;
        position      : relative;
        text-transform: uppercase;
        transition    : .5s ease-in-out;

        @include devices-large-screens {
            font-size: get-font-size(58);
        }

        @include orientation {
            font-size: get-font-size(32);
        }

        @include hover {
            opacity: .5;
        }
    }
}

.navbar__item {
    .activated {
        opacity: .5;
    }
}