@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;
@use "../util/functions"as *;

.section {
    padding: 100px 2%;

    &__title {
        @include font-primary();
        @include apply-color("black");
        font-size     : get-font-size(48);
        line-height   : 1.8;
        letter-spacing: 0.1rem;
        max-width     : 600px;
        margin        : 0 auto 30px;
        text-align    : center;
        width         : 100%;

        @include devices-small-screens {
            font-size    : get-font-size(32);
            margin-bottom: 2rem;
        }
    }

    &__description {
        @include font-secondary();
        font-size  : get-font-size(20);
        line-height: 28px;
        margin     : 20px auto 30px;
        max-width  : 1024px;
        text-align : center;
        width      : 100%;
    }
}

#about {
    @include bg-gradient("../images/backgrounds/about-bg.webp", 0.8);
    background-attachment: fixed;
}