@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;
@use "../util/functions"as *;

.section {
    padding: 100px 2%;

    &__title {
        @include font-primary();
        @include apply-color("black");
        font-size     : get-font-size(40);
        line-height   : 54px;
        letter-spacing: 3px;
        margin-bottom : 3rem;
        text-align    : center;

        @include devices-small-screens {
            font-size: get-font-size(32);
            margin-bottom: 2rem;
        }
    }

    &__description {
        @include font-secondary();
        font-size  : get-font-size(20);
        line-height: 28px;
        margin     : 20px auto 30px;
        max-width  : 1024px;
        text-align : center;
        width      : 100%;
    }
}

#about {
    @include bg-img("../images/about-bg-01.jpg");
    background-attachment: fixed;
    min-height           : 100%;
}