@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;


.about {
    @include grid(1fr 1fr);
    gap: 2rem;

    @include devices(m) {
        grid-template-columns: 1fr;
    }

    @include devices(xs) {
        grid-template-columns: 1fr;
    }

    @include devices-small-screens {
        margin-top: 40px;
    }

    &__column {
        background: rgba($color: #ffffff, $alpha: .7);
        padding   : 2rem 24px;

        p {
            @include apply-color("black");
            @include jost-font();
        }

        p+p {
            margin-top: 24px;
        }
    }
}

#about {

    .section__title {
        @include apply-color("pure-white");
    }
}