@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;

.characters {
    width: 100%;

    .section__title {
        @include apply-color("pure-white");
    }

    &__wrapper {
        position: relative;
        width   : 100%;
    }

    &__list {
        display          : grid;
        grid-auto-flow   : column;
        grid-auto-columns: calc((100% / 5));
        overflow         : hidden;

        @include devices(t) {
            grid-auto-columns: calc((100% / 2));
        }

        @include orientation() {
            grid-template-columns: calc((100% / 2));
        }

        @include devices(m) {
            grid-auto-columns: 100%;
        }

        @include devices(xs) {
            grid-auto-columns: 100%;
        }
    }
}

.characater__card {
    @include font-secondary();
    cursor        : pointer;
    display       : flex;
    flex-direction: column;
    filter        : grayscale(100%);
    opacity       : .2;
    overflow      : hidden;
    padding       : 1rem;
    transition    : .5s ease-in-out;

    @include hover {
        filter : none;
        opacity: 1;
    }
}

.character__image {
    height  : 100%;
    overflow: hidden;
    width   : 100%;

    img {
        display   : block;
        height    : 100%;
        object-fit: cover;
        transition: 1s ease-in-out;
        width     : 100%;

        @include hover {
            transform: scale(1.1);
        }
    }
}

.character__active {
    border : 1px solid #19191d;
    filter : none;
    opacity: 1;
}