@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;

.characters {
    width: 100%;

    .section__title {
        @include apply-color("pure-white");
    }

    .container {
        margin-top: 3rem;
    }

    &__wrapper {
        position: relative;
        width   : 100%;
    }

    &__list {
        display          : grid;
        grid-auto-flow   : column;
        grid-auto-columns: calc((100% / 5));
        overflow-x       : auto;
        scroll-behavior  : smooth;
        scroll-snap-type : x mandatory;
        scrollbar-width  : 0;

        @include devices(t) {
            grid-auto-columns: calc((100% / 2));
        }

        @include orientation() {
            grid-template-columns: calc((100% / 2));
        }

        @include devices(m) {
            grid-auto-columns: 100%;
            height: 550px;
        }

        @include devices(xs) {
            grid-auto-columns: 100%;
        }

        @include devices(xxl) {
            height: 700px;
        }

        @include devices(xl) {
            height: 550px;
        }

        @include orientation{
            height: auto;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__buttons {
        @include flex(center, center);
        margin-top: 8px;
        width     : 100%;
    }

    &__button {
        @include apply-color("pure-white");
        background : transparent;
        border     : none;
        cursor     : pointer;
        font-size  : get-font-size(32);
        font-weight: 600;
        transition : .3s ease-in-out;

        @include hover {
            opacity: .6;
        }

        &:nth-child(1) {
            &::before {
                content: "\219E";
            }
        }

        &:nth-child(2) {
            &::after {
                content: "\21A0";
            }
        }
    }

}

.character__card {
    @include font-secondary();
    cursor           : pointer;
    display          : flex;
    flex-direction   : column;
    filter           : grayscale(100%);
    height           : 100%;
    opacity          : .1;
    overflow         : hidden;
    scroll-snap-align: start;
    transition       : .5s ease-in-out;

    @include hover {
        filter : none;
        opacity: 1;
    }

    @include devices-large-screens {
        padding: 1rem;
    }
}

.character__image {
    height  : 100%;
    overflow: hidden;
    width   : 100%;

    img {
        display   : block;
        height    : 100%;
        object-fit: cover;
        transition: 1s ease-in-out;
        width     : 100%;
    }
}

.character__active {
    border : 1px solid #19191d;
    filter : none;
    opacity: 1;
}

.dragging {
    scroll-behavior : auto;
    scroll-snap-type: none;
}

.dragging {

    .character__card {
        cursor     : grab !important;
        user-select: none;
    }
}

.no-transition {
    scroll-behavior: auto;
}

//Sass modal
.modal__character {
    @include apply-bg-color("black");
    inset     : 0;
    max-height: 100vh;
    opacity   : 0;
    overflow  : auto;
    position  : fixed;
    transform : translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    visibility: hidden;
    width     : 100%;
    z-index   : 999999;

    &-button {
        @include flex(center, center, 0);
        @include apply-color("sky-blue");
        @include font-secondary();
        flex-direction: column;
        background    : transparent;
        border        : none;
        cursor        : pointer;
        font-size     : get-font-size(12);
        left          : 1rem;
        position      : absolute;
        transition    : .3s ease-in-out;
        text-transform: uppercase;
        top           : 1rem;
        z-index       : 99999;

        &::before {
            content  : "\2927";
            font-size: get-font-size(28);
        }

        @include hover {
            opacity: .7;
        }
    }

    &::-webkit-scrollbar {
        width: 0px;
    }
}

.modal__character.actived {
    opacity   : 1;
    visibility: visible;
    transform : translateY(0);
}

.character__container {
    @include flex(end, center);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    height             : 100%;
    position           : relative;
    width              : 100%;

    .container {
        bottom  : 40px;
        position: absolute;
        z-index : 1000;
    }
}

.character__overlay {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
    height    : 40%;
    position  : absolute;
    width     : 100%;
    z-index   : 999;
}

.character__description {
    @include flex(center, center, 0);
    flex-direction: column;
    text-align    : center;
    width         : 100%;

    img {
        margin-bottom: 1rem;
        max-width    : 350px;
    }

    span {
        @include font-secondary();
        color         : rgba(255, 255, 255, 0.5);
        font-size     : get-font-size(12);
        margin-bottom : 8px;
        text-transform: uppercase;
    }

    h2 {
        @include font-primary();
        font-size     : get-font-size(18);
        letter-spacing: 2px;
        margin-bottom : 1rem;
    }

    hr {
        @include line(48px);
    }

    p {
        @include font-secondary();
        color         : rgba(255, 255, 255, 0.5);
        font-size     : get-font-size(12);
        margin-top    : 8px;
        text-transform: uppercase;
    }
}

.character__bio {
    padding: 100px 0;
    width  : 100%;

    .bio__row {
        @include grid(1fr 1fr);
        margin-bottom: 2rem;
        padding      : 2rem 0;

        @include devices(m) {
            grid-template-columns: 1fr;
        }

        @include devices(xs) {
            grid-template-columns: 1fr;
        }

        &:nth-child(2n) {

            @include devices(m) {
                .bio__description {
                    order: 1;
                }

                .bio__image {
                    order: 2;
                }
            }

            @include devices(xs) {
                .bio__description {
                    order: 1;
                }

                .bio__image {
                    order: 2;
                }
            }
        }
    }

    .bio__description {
        align-self: start;
        padding   : 0 3rem;

        p {
            line-height  : 24px;
            margin-bottom: 1rem;
            text-align   : justify;

            &:first-of-type {
                &::first-letter {
                    font-size: get-font-size(60);
                }
            }
        }
    }

    .bio__image {
        padding: 8px;

        img {
            object-fit: cover;
            width     : 100%;
        }
    }

    .bio__quote {
        margin : 1rem 0;
        padding: 1rem 3rem;

        p {
            @include marcellus-font();
            font-size    : get-font-size(26);
            margin-bottom: 8px;
        }

        span {
            align-items   : center;
            color         : rgba(255, 255, 255, 0.7);
            display       : flex;
            font-size     : get-font-size(12);
            text-transform: uppercase;

            &::before {
                background-color: rgba(255, 255, 255, 0.7);
                content         : "";
                height          : 1px;
                margin-right    : 6px;
                width           : 10px;
            }
        }
    }
}

.characater__house {
    @include flex(center, center, 0);
    background-attachment: fixed;
    padding-bottom       : 100px;
}

.house__content {
    text-align: center;

    h2 {
        @include marcellus-font();
        font-size     : get-font-size(32);
        line-height   : 40px;
        letter-spacing: 1px;
    }

    hr {
        @include line(120px);
    }

}