@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;

.home {
    @include bg-gradient("../images/home-bg.webp", 0.3);
    @include flex(center, center);
    height    : 120vh;
    position  : relative;
    text-align: center;
    width     : 100%;

    &-container {
        bottom   : 220px;
        max-width: 800px;
        margin   : 0 auto;
        padding  : 20px;
        width    : 100%;
        position : absolute;

        @include devices(t) {
            bottom: 280px;
        }

        @include devices(m) {
            bottom: 160px;
        }

        @media screen and (max-width: 640px) and (orientation: landscape) {
            bottom: 80px;
        }
    }

    &-title {
        @include font-primary();
        font-size    : get-font-size(40);
        line-height  : 72px;
        margin-bottom: 20px;

        @include devices(m) {
            font-size  : get-font-size(22);
            line-height: 38px;
        }
    }

    &-description {
        @include font-secondary();
        font-size  : get-font-size(20);
        line-height: 28px;
    }
}