@use "../base/colors"as *;
@use "../base/mixins"as *;
@use "../base/typography"as *;

.map {
    .section__title {
        @include apply-color("pure-white");
    }
}

.map__container {
    padding: 80px 0;
}

.map__content {
    padding-left : 2%;
    padding-right: 2%;

    h2 {
        @include font-primary();
        font-size    : get-font-size(32);
        margin-bottom: 2rem;
    }

    p {
        @include jost-font();
        font-size    : get-font-size(20);
        margin-bottom: 1rem;
    }

    img {
        margin-top: 2rem;
    }
}

.map__areas {
    margin : 4rem 0;
    padding: 1rem;
    width  : 100%;
}