@use "../base/colors"as *;
@use "../base/mixins"as *;
@use "../base/typography"as *;

.map {
    .section__title {
        @include apply-color("pure-white");
    }
}

.map__list {
    @include flex(center, space-around);
    flex-wrap : wrap;
    margin-top: 3rem;

    .card {
        cursor: default;

        a {
            border    : #007BFF 0.15em solid;
            cursor    : pointer;
            display   : inline-block;
            margin    : .5rem 1rem;
            padding   : .5rem;
            transition: all 0.6s ease;
            text-align: center;

            @include hover {
                background: #007BFF;
            }
        }
    }
}

/** sass das paginas */
.map__home {
    @include flex(end, center);
    height: 100vh;
    width : 100%;

    .section__title {
        @include apply-color("pure-white");
    }
}

#westerosHome {
    @include bg-gradient("../images/mapas/westeros_bg.webp", .8);
}

#essosHome {
    @include bg-gradient("../images/mapas/essos_bg.webp", .8);
}

#sothoryosHome {
    @include bg-gradient("../images/mapas/sothoryos_bg.webp", .8);
}


#ilhasDeVeraoHome {
    @include bg-gradient("../images/mapas/ilhas_verao_bg.webp", .8);
}