@use "../base/colors"as *;
@use "../base/mixins"as *;
@use "../base/typography"as *;

.map {
    .section__title {
        @include apply-color("pure-white");
    }

    &__content {
        background: orange;
        @include grid(3fr 1fr);
        position: relative;
    }

    &__navegation {
        background: darkblue;
        bottom    : 10px;
        position  : absolute;
        text-align: center;
        width     : 100%;
        z-index   : 999;
    }
}