@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;

.plot {
    @include apply-bg-color("pure-white");
    @include apply-color("black");

    &__row {
        @include grid(1fr 1fr);
        margin-bottom: 80px;

        @include devices-large-screens {
            gap: 3rem;
        }

        @include devices-small-screens {
            grid-template-columns: 1fr;
            margin-bottom        : 2rem;

            &:nth-child(2n+1) {
                .plot__image {
                    order: 1;
                }

                .plot__description {
                    order: 2;
                }
            }
        }
    }

    &__image {
        align-self  : self-start;
        justify-self: self-start;
        height      : 100%;
        width       : 100%;

        img {
            height    : 100%;
            object-fit: cover;
            width     : 100%;
        }

    }

    &__description {
        align-self: self-start;
        padding   : 2rem 0;

        @include devices-large-screens {
            padding: 2rem 2rem 2rem 2rem;
        }

        h3 {
            @include font-primary();
            font-size    : get-font-size(24);
            line-height  : 40px;
            margin-bottom: 1rem;

            @include devices-small-screens{
                font-size    : get-font-size(22);
            }

            span {
                font-size: get-font-size(32);
            }
        }

        strong {
            @include font-secondary();
            font-size    : get-font-size(20);
            display      : block;
            margin-bottom: 1rem;
        }

        p {
            @include jost-font();
            font-size    : get-font-size(18);
            margin-bottom: 1rem;
        }
    }
}